country = {{ vencrypt_client.country }}
state = {{ vencrypt_client.state }}
locality = {{ vencrypt_client.locality }}
organization = {{ vencrypt_client.org }}
cn = {{ vencrypt_client.cn }}
expiration_days = {{ vencrypt_days }}
tls_www_client
encryption_key
signing_key
